.contact h1 {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}

.contact__flexbox {
  display: flex;
  gap: 2rem;
}

.contact__img {
  border-radius: 50%;
}

@media only screen and (max-width: 576px) {
  .contact__flexbox {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .contact__img {
    margin: auto;
  }
}
