header {
  border-bottom: var(--border-major);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: rgba(var(--color-orange-white), 0.9);
  backdrop-filter: blur(2px);
}

.header__brand {
  display: flex;
  align-items: center;
}

.header__brand img {
  height: 80px;
  width: auto;
  margin-top: -36px;
  margin-bottom: -12px;
}

.header__title {
  margin: 0;
  margin-left: 12px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  /* cursor: default; */
  color: unset;
}

.header__title:hover {
  text-decoration: none;
}

.header-nav a { 
  color: rgb(var(--color-brand-green));
}

.header-nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.header-nav li {
  list-style: none;
  font-family: var(--font-league-spartan);
}

@media only screen and (max-width: 576px) {
  header {
    padding: 0.5rem;
  }

  .header__title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}