:root {
  --font-league-spartan: "League Spartan", sans-serif;
  --font-source-serif: "Source Serif 4", sans-serif;

  --color-blue-dark: 1, 15, 170;
  --color-brand-green: 0, 76, 70;
  --color-black-light: 34, 34, 34;
  /* --color-orange-white is equivalent to rbga(180, 140, 85, 0.03) on top of white */
  --color-orange-white: 252, 251, 250;
  
  --color-green-dark-dull: 63, 90, 79;
  --bg-offwhite: rgba(var(--color-green-dark-dull), 0.04);
  --bg-offwhite-hover: rgba(var(--color-green-dark-dull), 0.08);

  --border-major: 0.5px solid rgba(var(--color-black-light), 0.5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-league-spartan);
  font-weight: 500;
  line-height: 1.2;
  color: rgb(40, 40, 40);
}

body {
  color: rgb(var(--color-black-light));
  font-family: var(--font-source-serif);
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: rgba(var(--color-orange-white), 1);
  margin: 0;
}

.container {
  margin: auto;
  max-width: 992px;
}

main {
  padding: 1rem;
}

.footer {
  padding: 1rem;
  border-top: var(--border-major);
  margin-top: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}

a {
  color: rgb(var(--color-blue-dark));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 576px) {
  main {
    padding: 1.25rem;
  }
}

.about h1, .about h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  margin-top: 1rem;
}

.about strong {
  font-weight: 600;
  color: #000;
}

.about p {
  line-height: 1.8;
}

.contact h1 {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}
