.service-page__prose {
  margin-bottom: 0.5rem; 
}

.service-page__list li {
  list-style: circle;
  margin-bottom: 0.8rem;
  line-height: 1.6;
}

@media only screen and (max-width: 576px) {
  .service-page__list {
    padding-left: 1rem;
  }
}
