.services {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.services__description {
  font-size: 1.3rem;
}

.services__cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.services__card {
  border: 1px solid rgb(var(--color-brand-green));
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--bg-offwhite);
}

.services__card-header {
  margin: 0;
  font-size: 2.3rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.services__card-header-icon {
  font-size: 2rem;
  cursor: default;
  line-height: 1.5;
}

.services__card-subheader {
  font-family: var(--font-league-spartan);
  font-weight: 500;
  line-height: 1.2;
  color: rgb(50, 50, 50);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.services__card-description {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .services {
    margin-top: 0rem;
  }

  .services__description {
    margin-top: 0.5rem;
  }

  .services__cards-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .services__card {
    padding: 1.5rem 2rem;
  }
}
